@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
  font-family: NotoSansKR_R;
  src: url(../../font/NotoSansKR-Regular.otf);
}
@font-face {
  font-family: NotoSansKR_M;
  src: url(../../font/NotoSansKR-Medium.otf);
}
@font-face {
font-family: NotoSansKR_B;
src: url(../../font/NotoSansKR-Bold.otf);
}
@font-face {
font-family: NotoSansKR_EB;
src: url(../../font/NotoSansKR-Black.otf);
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body {//rem 
font-size: 16px;
font-family: 'Roboto', "NotoSansKR_B", sans-serif;
}
a {
  text-decoration: none;
  color: $color-white;
}
ul,li,ol {
  list-style: none;
}

.container {
  background-color: $color-black;
}